<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script data-main="javascripts/hottest60.js"  src="javascripts/require.js"></script>
    </head>
    <body>
        <div></div>
        <input id="input" type="text" placeholder="Search">
        <button id="search" class="wrap">Search</button>
        <div id="pictures">
            <img src="" id="picture">
        </div>
        <p id="description">top60 most viral</p>
        <div id="hottest">
        </div>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </body>

</html>